﻿/**
{
    border: solid 1px red;
}*/
body
{
    font-family: "Helvetica Neue", 微軟正黑體, 標楷體, sans-serif;
    margin:0;

}
nav
{
    height: 8%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    position: fixed;
    display: inline;
    font-size:200%;
}

header
{
    height:400px;
    text-align:center;
    font-size : 250%;
    color:white;
    background-repeat: no-repeat;
    background-color: rgb(70, 130, 180);
    background-image: url("ocean.jpg");

}

#introduce
{
    padding: 1% 0 1% 0;
    height: 400px;
    text-align: center;
    font-size: 200%;
    color: #1b3163;
    background-color:#cce3f6;

}
#presentationTable
{
    top: 20px;
    left: 30px;

    background:linear-gradient(#3a77a5 25%,#315e84 75%,#132747 );
    padding:0 1% 1% 0;
}

#myWork
{
    color: white;
}


.presentation
{
    height: 400px;
    width:32%;
    display:inline-block;
    margin:1% 0 0 1%;
    background-color:white;

}

footer
{

    padding: 5%;
    text-align: left;
    height: 400px;
    background-color:#000000;
    color:#c8c8c8;
}

img {
    margin: 2%;
    border-radius: 150px;
    border:solid white 2px;
    line-height: 200px;

}
